<p-toast></p-toast>
<p-dialog [visible]="show" (visibleChange)="updateShow($event)" [style]="{width: '75vw'}"
    [header]="'pages.dashboard.modal.title' | translate" [modal]="true" class="p-fluid">

    <ng-template pTemplate="content">
        <div class="card mb-0 grid">
            <div class="col-10 flex flex-column">
                <span class="block text-500 font-medium mb-3">{{_machinery?.area.structure.name}} /
                    {{_machinery?.area.name}}</span>
                <div class="text-900 font-medium text-xl flex align-items-center justify-content-between gap-2">
                    {{ _machinery?.name }} ({{_machinery?.serial}})
                </div>
                @if (notificationService.existsLastMode(_machineryNotifications)) {
                <div class="text-medium mt-2">{{ 'pages.dashboard.lastState' | translate:
                    {'mode': 'pages.dashboard.status.' + notificationService.getLastMode(_machineryNotifications) |
                    translate, 'timestamp':
                    notificationService.getLastModeTimestamp(_machineryNotifications) | date: 'dd/MM/yyyy HH:mm'} }}
                </div>
                }@else{
                <div class="text-medium mt-2">{{ 'pages.dashboard.lastStateNoAvailable' | translate }}</div>
                }
                <div class="text-900 font-bold text-xl mt-2 flex align-items-center gap-2 mt-4">
                    <img src="/assets/imgs/red_square_error_warning_icon.svg" class="w-2rem" />
                    {{ notificationService.getNotificationsCount(_machineryNotifications, undefined, 'alarm')}}
                    {{'pages.dashboard.alarmToManage' | translate}}
                </div>
                <div class="text-900 font-bold text-xl mt-2 flex align-items-center gap-2">
                    <img src="/assets/imgs/ISO_7010_M002.svg.png" class="w-2rem" />
                    {{ notificationService.getNotificationsCount(_machineryNotifications, undefined, 'maintenance')}}
                    {{'pages.dashboard.maintenanceToManage' | translate}}
                </div>
                <div class="text-900 font-bold text-xl mt-2 flex align-items-center gap-2">
                    <img src="/assets/imgs/ISO_7010_W001.svg.png" class="w-2rem" />
                    {{ notificationService.getNotificationsCount(_machineryNotifications, undefined, 'service')}}
                    {{'pages.dashboard.serviceToManage' | translate}}
                </div>
            </div>
            <div class="col-2 flex flex-column align-items-center justify-content-around gap-2">
                <div class="flex flex-column justify-content-center align-items-center gap-2">
                    {{ 'pages.dashboard.machineryState' | translate }}
                    @switch (notificationService.getLedStatus(_machineryNotifications, undefined)) {
                    @case ('health') {
                    <img src="/assets/imgs/led-green-black.svg" class="w-3rem" />
                    }
                    @case ('warn') {
                    <img src="/assets/imgs/led-amber-black.svg" class="w-3rem" />
                    }
                    @case ('danger') {
                    <img src="/assets/imgs/led-red-black.svg" class="w-3rem" />
                    }
                    }
                </div>
                <div class="flex flex-column justify-content-center align-items-center gap-2">
                    {{ 'pages.dashboard.doorState' | translate }}
                    @if(notificationService.existsGuards(_machineryNotifications, undefined, 'door_g')) {
                    <img [src]="notificationService.lastGuard(_machineryNotifications, undefined, 'door_g') === '1' ? '/assets/imgs/led-green-black.svg' : '/assets/imgs/led-red-black.svg'"
                        class="w-3rem" />
                    }@else {
                    <img src="/assets/imgs/generic.svg" class="w-3rem" />
                    }
                </div>
                <div class="flex flex-column justify-content-center align-items-center gap-2">
                    {{ 'pages.dashboard.spindleState' | translate }}
                    @if(notificationService.existsGuards(_machineryNotifications, undefined, 'spnd_g')) {
                    <img [src]="notificationService.lastGuard(_machineryNotifications, undefined, 'spnd_g') === '1' ? '/assets/imgs/led-green-black.svg' : '/assets/imgs/led-red-black.svg'"
                        class="w-3rem" />
                    }@else {
                    <img src="/assets/imgs/generic.svg" class="w-3rem" />
                    }
                </div>
            </div>
        </div>

        <div class="grid m-2">
            <div class="col-6">
                <p-card [header]="'pages.dashboard.modal.notifications.header' | translate">
                    @if(getNotificationToSolve().length === 0){
                    <div class="text-bold font-mediium">{{ 'pages.dashboard.modal.noData' | translate }}</div>
                    }
                    @for(n of getNotificationToSolve(); track n){
                    <p-messages>
                        <ng-template pTemplate>
                            <div class="grid">
                                <div class="col-2 flex align-items-center justify-content-center">
                                    @switch (n.type) {
                                    @case ('alarm') {
                                    <img src="/assets/imgs/red_square_error_warning_icon.svg" class="w-3rem" />
                                    }
                                    @case ('maintenance') {
                                    <img src="/assets/imgs/ISO_7010_M002.svg.png" class="w-3rem" />
                                    }
                                    @case ('service') {
                                    <img src="/assets/imgs/ISO_7010_W001.svg.png" class="w-3rem" />
                                    }
                                    }
                                </div>
                                <div class="col-10 flex flex-column">
                                    <h6 class="my-1 text-lg">{{ 'layout.topbar.sidebar.alarm.timestamp' | translate }}
                                        {{
                                        n.createdAt | date: 'dd/MM/yyyy HH:mm' }}
                                    </h6>
                                    <h6 class="my-1 text-lg">{{ 'layout.topbar.sidebar.alarm.type' | translate }} {{
                                        n.type }}
                                    </h6>
                                    <h6 class="my-1 text-lg">{{ 'layout.topbar.sidebar.alarm.value' | translate }} {{
                                        n.value }}
                                    </h6>
                                    @if(n.description){
                                    <h6 class="my-1 text-lg">{{ 'layout.topbar.sidebar.alarm.description' | translate }}
                                        {{ n.description }}
                                    </h6>
                                    }
                                </div>
                                <div class="col-12 flex flex-row gap-2">
                                    <p-button class="w-full"
                                        [label]="'pages.dashboard.modal.notifications.actions.send' | translate"
                                        [raised]="true" severity="warning" [disabled]="!thereAreUserSelected()"
                                        (click)="sendMessage(n)" />
                                    <p-button class="w-full"
                                        [label]="'pages.dashboard.modal.notifications.actions.solve' | translate"
                                        [raised]="true" severity="success" (click)="solveNotification(n)" />
                                </div>
                            </div>
                        </ng-template>
                    </p-messages>
                    }
                </p-card>
            </div>
            <div class="col-6">
                <p-card [header]="'pages.dashboard.modal.userNear.header' | translate">
                    @if(_users.length === 0){
                    <div class="text-bold font-mediium">{{ 'pages.dashboard.modal.noData' | translate }}</div>
                    }
                    @for(u of _users; track u){
                    <div class="flex flex-row gap-3 align-content-center">
                        <p-toggleButton [(ngModel)]="_userSelected[u.id]" onLabel="On" offLabel="Off" />
                        <div class="flex flex-column">
                            <h6 class="my-1">{{ u.name }}</h6>
                            <h6 class="my-1">{{ u.surname }}</h6>
                        </div>
                    </div>
                    <p-divider></p-divider>
                    }
                </p-card>
            </div>
        </div>
    </ng-template>

    <ng-template pTemplate="footer">
        <button pButton pRipple icon="pi pi-times" class="p-button-text"
            [label]="'shared.modal.actions.close' | translate" (click)="updateShow(false)"></button>
    </ng-template>
</p-dialog>