body {
    font-family: sans-serif;
    margin: 0;
    padding: 20px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: left;
    width: 20%;
    height: 20%;
}

.container-out {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 100%;
}

.machinery {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}

.title {
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}

.lista {
    width: 80%;
    margin: 0 auto;
    border: 1px solid #ddd;
    border-radius: 4px;
}
.lavoratore {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}
.nome-lavoratore {
    font-size: 16px;
}
.pulsante-invia {
    background-color: #0073b7;
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}