<!DOCTYPE html>
<html lang="it">

<body>
    <h1 class="machinery-title">{{ machinery?.name }} {{ machinery?.mserial }}</h1>
    <br>
    <br>

    <div style="display: flex; justify-content: space-between;">

        <div class="container" style="border-radius: 10px; border: 2px solid gray; height: 40vh; width: 20vw; overflow-y: auto;">
            <br>
            <h2 class="title">NEARBY WORKERS</h2>
            <br>

            <button class="btn btn-primary" (click)="sendMessage()" [ngClass]="{'bg-danger text-white': isInAlarm}" (click)="goToSendMessages()">
                {{ isInAlarm ? 'SEND ALARM' : 'SEND MESSAGE TO ALL' }}
            </button>

            <br>
            <div *ngFor="let worker of workers">
                <div class="worker">
                    <span class="info-worker">{{ worker.name }} {{ worker.surname }}  [{{ worker.role }}]</span>
                    <button class="btn btn-primary mx-1" (click)="goToSendIndividualMessages(worker)">Send Message</button>
                    <br>
                </div>
            </div>
        </div>

        <img src="/assets/grafico.png" alt="Grafico" style="border-radius: 10px; border: 2px solid gray; height: 40vh; width: 50vw;">

    </div>
    
    <br>
    <br>

    <div class="container" style="border-radius: 10px; border: 2px solid gray; height: 20vh; width: 60vw; overflow-y: auto; overflow-x: auto;">
        <br>
        <h2 class="title">ALARMS</h2>
        <div *ngFor="let alarm of machineryAlarms">
            <div class="alarm">
                <label class="info-alarm"><strong>Value</strong>: {{ alarm.value }}, <strong>Description</strong>: {{ alarm.description }}, <strong>Timestamp</strong>: {{ alarm.timestamp }}</label>
                <button class="btn btn-primary mx-1" (click)="solveAlarm(alarm.id)">Solve</button>
            </div>
        </div>
    </div>

</body>

</html>
