.sidebar {
  position: fixed;
  top: 0;
  right: 0; /* Cambia da left: 0 a right: 0 */
  width: 18vw; /* Puoi cambiare la larghezza secondo necessità */
  height: 100%;
  background: linear-gradient(to top, rgb(153, 215, 248), rgb(211, 229, 238)); /* Gradazione di colore */
  color: rgb(0, 0, 0);
  z-index: 1000; /* Alto valore per sovrapporsi agli altri elementi */
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid gray; /* Aggiungi questa riga per il bordo */
  overflow-y: auto; /* Permette lo scrolling verticale se il contenuto è troppo alto */
  padding-top: 20px; /* Aggiungi un po' di padding in alto se necessario */
}

.card-grid {
  display: flex;
  width: 95%; /* Rende le carte larghe quanto la sidebar */
  flex-direction: column;
  align-items: stretch; /* Estende le carte per tutta la larghezza disponibile */
  margin-top: 10vh; /* Aggiunge spazio superiore per abbassare le carte */
}

.card {
  margin-bottom: 1vh; /* Aggiungi un po' di spazio tra le carte */
  border: 2px solid #d40a0a; /* Aggiungi un bordo di 1px con colore grigio chiaro */
  border-radius: 5px; /* Opzionale: aggiungi angoli arrotondati al bordo */
  padding: 10px; /* Opzionale: aggiungi un po' di padding all'interno della carta */
  cursor: pointer;
}

