.data-title {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}

.search-filters {
    display: flex;
    justify-content: space-between;
}

.search-filters .form-control, 
.search-filters select, 
.search-filters button {
    width: 8vw; /* Larghezza fissa */
    height: 5vh; /* Altezza fissa */
}

