<h1 class="rooms-title">Rooms List for branch '{{ branchName }}'</h1>

<br>
<br>

<div >
    <div class="container mt-5" style="border-radius: 10px; border: 1px solid gray; height: 42vh; width: 80vw; overflow-y: auto;">
        <table class="table table-striped">
        <thead>
            <tr>
            <th>Name</th>
            <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let room of rooms">
            <td>{{ room.name }}</td>
            <td>
                <button class="btn btn-primary mx-1" (click)="editRoom(room.id)">Edit</button>
                <button class="btn btn-primary mx-1" (click)="deleteRoom(room)">Delete</button></td>
            </tr>
        </tbody>
        </table>
    </div>

    <div class="pagination-controls" style="display: flex; justify-content: center; align-items: center; margin-top: 10px;">
        <button (click)="goToPreviousPage()" [disabled]="currentPage === 1" class="btn btn-primary">
            &#8592;
        </button>
        <span style="margin: 0 10px;">Page {{ currentPage }}</span>
        <button (click)="goToNextPage()" [disabled]="totalPages" class="btn btn-primary">
             &#8594;
        </button>
    </div>

    <br>
    <br>

    <div style="text-align: center;">
        <div class="button-wrapper">
          <button class="btn btn-primary mx-1" (click)="goToNewRoomPage()">Add Room</button>
        </div>
    </div>

</div>
