<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>


<body>
  <div id="navbar" class="navbar-light justify-content-between fixed-top">
    <img src="/assets/idalab_logo.png" class="d-inline-block align-top logo" alt="Logo">
    <div class="text-center mx-auto">
      <a class="navbar-brand" [routerLink]="['/home/branch']" [ngClass]="{'disabled': isHomePage()}">
        <h3 class="mx-3"><strong>DPI-U AI - BRIC48</strong></h3>
      </a>
    </div>
    <div class="d-flex">
      <button type="button" class="btn btn-outline-primary btn-square mx-1">
        <img src="/assets/btn_account.png" style="object-fit: contain" width="24" height="24" alt="Icona 1">
      </button>
      <button type="button" class="btn btn-outline-primary btn-square mx-1">
        <img src="/assets/btn_settings.png" style="object-fit: contain" width="24" height="24" alt="Icona 2">
      </button>
      <button type="button" class="btn btn-outline-primary btn-square mx-1">
        <img src="/assets/btn_machinery_list.png" style="object-fit: contain" width="24" height="24" alt="Icona 3">
      </button>
      <button type="button" class="btn btn-outline-primary btn-square mx-1">
        <img src="/assets/btn_logout.png" style="object-fit: contain" width="24" height="24" alt="Icona 4">
      </button>
    </div>
  </div>

  <div id="sidebar" class="navbar-light"> 
    <div class="sidebar  flex-column align-items-center fixed-left">

      <hr>
      
      <br>
      <div><h5 class="label">{{admin?.name}} {{admin?.surname}}</h5></div>
      <div><h5 class="label">{{role}}</h5></div>
      <br>

      <hr>

      <br>
  
      <div><button type="button" class="btn btn-primary button" (click)="goToHomePage()">HOMEPAGE</button></div>
      <br>
      <div><button type="button" class="btn btn-primary button">CHECK FAILURES</button></div>
      <br>
      <div><button type="button" class="btn btn-primary button">MANAGE HEADPHONES</button></div>
      <br>
      <div><button type="button" class="btn btn-primary button">MANAGE USERS</button></div>
      <br>
      <div><button type="button" class="btn btn-primary button">MANAGE SENSORS</button></div>
      <br>
      <div><button type="button" class="btn btn-primary button">MANAGE MACHINERIES</button></div>
      <br>
      <div><button type="button" class="btn btn-primary button">MANAGE SITES/ROOMS</button></div>
      <br>
      <div><button type="button" class="btn btn-primary button">SEND MESSAGES</button></div>
      <br>
      <div><button type="button" class="btn btn-primary button">CHECK LOGS</button></div>
  
    </div>
  </div>

  <div id="main">
    <router-outlet></router-outlet>
  </div>  

</body>


</html>
