/* Navbar */
#navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 10%;
    background: linear-gradient(to right, rgb(153, 215, 248), rgb(211, 229, 238)); /* Gradazione di colore */
    color: #d0d0d0a4;
    display: flex;
    align-items: center;

    border: 2px solid gray;
}

/* Sidebar */
#sidebar {
    position: fixed;
    top: 10%;
    left: 0;
    width: 15%;
    height: 90%;
    background: linear-gradient(to bottom, rgb(153, 215, 248), rgb(211, 229, 238)); /* Gradazione di colore */
    display: flex;
    flex-direction: column;
    align-items: left;

    border-bottom: 2px solid gray;
    border-right: 2px solid gray;
    border-left: 2px solid gray;
  }

/* Contenuto principale */
#main {
    margin-left: 15%;
    margin-top: 0;
    padding: 1rem;
}

/* Immagine */
.logo {
  margin-left: 0rem;
  height: 100%;
}

/* Stile per i bottoni */
.button-sidebar {
  margin-left: 1rem;
  margin-right: 5rem;
  width: 90%;
  background: linear-gradient(to bottom, rgb(0, 120, 249), rgb(117, 174, 236)); /* Gradazione di colore */
}

/* Stile per le label */
.label {
  text-align: center;
  width: 100%;
}

/* Linea orizzontale */
hr {
border: 1px solid #828282; /* Colore e stile della linea orizzontale */
margin: 0 0; /* Margine sopra e sotto la linea orizzontale */
}

.top-0 {
  top: 0 !important;
}

.start-100 {
  left: 100% !important;
}

.translate-middle {
  transform: translate(-50%, -50%) !important;
}

.badge {
  padding: 0.5em 0.75em;
  background-color: red;
  color: white;
}


