<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>


<body>

  <div id="navbar" class="navbar-light justify-content-between fixed-top">

    <img src="/assets/idalab_logo.png" class="d-inline-block align-top logo" alt="Logo">

    <div class="text-center mx-auto">
      <a class="navbar-brand" [routerLink]="['/home/branch']" [ngClass]="{'disabled': isHomePage()}">
        <h3 class="mx-3"><strong>DPI-U AI - BRIC48</strong></h3>
      </a>
    </div>

    <div class="d-flex">
      <button type="button" class="btn btn-outline-primary mx-2" style="width: 4vw; height: 6vh;">
        <img src="/assets/icon_account.png" style="object-fit: contain" width="100%" height="100%" alt="Account">
      </button>
      <button type="button" class="btn btn-outline-primary mx-2" style="width: 4vw; height: 6vh;">
        <img src="/assets/icon_settings.png" style="object-fit: contain" width="100%" height="100%" alt="Settings">
      </button>
      <button type="button" class="btn btn-outline-primary mx-2" style="width: 4vw; height: 6vh;">
        <img src="/assets/icon_list.png" style="object-fit: contain" width="100%" height="100%" alt="List">
      </button>
      <button type="button" class="btn btn-outline-primary mx-2" style="width: 4vw; height: 6vh;" (click)="logout()">
        <img src="/assets/icon_logout.png" style="object-fit: contain" width="100%" height="100%" alt="Logout">
      </button>
      <label style="width: 1vw; height: 6vh;"></label>
    </div>
    
  </div>

  <div id="sidebar" class="navbar-light"> 
    <div class="sidebar  flex-column align-items-center fixed-left">
      
      <br>
      <div><h5 class="label">{{admin?.name}} {{admin?.surname}}</h5></div>
      <div><h5 class="label">{{role}}</h5></div>
      <br>

      <hr>

      <br>
  
      <div><button type="button" class="btn btn-primary button-sidebar" (click)="goToHomePage()">HOMEPAGE</button></div>
      <br>
      <div><button type="button" class="btn btn-primary button-sidebar" (click)="goToMachineriesDataList()">CHECK MACHINERIES DATA</button></div>
      <br>
      <div><button type="button" class="btn btn-primary button-sidebar" (click)="goToHeadphonesList()">MANAGE HEADPHONES</button></div>
      <br>
      <div><button type="button" class="btn btn-primary button-sidebar" (click)="goToWorkersList()">MANAGE WORKERS</button></div>
      <br>
      <div><button type="button" class="btn btn-primary button-sidebar" (click)="goToSensorsList()">MANAGE SENSORS</button></div>
      <br>
      <div><button type="button" class="btn btn-primary button-sidebar" (click)="goToMachineriesList()">MANAGE MACHINERIES</button></div>
      <br>
      <div><button type="button" class="btn btn-primary button-sidebar" (click)="goToBranchesList()">MANAGE BRANCHES/ROOMS</button></div>
      <br>
      <div><button type="button" class="btn btn-primary button-sidebar" (click)="goToSendMessages()">SEND MESSAGES</button></div>
      <br>
      <div><button type="button" class="btn btn-primary button-sidebar">CHECK LOGS</button></div>
  
    </div>
  </div>

  <div id="main">
    <router-outlet></router-outlet>
  </div>  

</body>


</html>
