<div class="grid">
    <p-toast></p-toast>
    <div class="col-12">
        <div class="card px-6 py-6">
            @if (showToolbar) {
            <p-toolbar styleClass="mb-4">
                <ng-template pTemplate="left">
                </ng-template>

                <ng-template pTemplate="right">
                    <button pButton pRipple [label]="'shared.table.actions.new' | translate" icon="pi pi-plus"
                        class="p-button-success mr-2" (click)="onNew.emit()"></button>
                </ng-template>
            </p-toolbar>
            }
            <p-contextMenu #cm [model]="menuItems" (onHide)="onContextMenuSelection.emit($event)" />
            <p-table #dt [value]="values" [columns]="headers" responsiveLayout="scroll" [rows]="page.size"
                [first]="page.page * page.size" [totalRecords]="totalRecords" sortMode="multiple"
                (onContextMenuSelect)="onContextMenuSelection.emit($event)" [contextMenu]="cm" [dataKey]="dataKey"
                [multiSortMeta]="multiSortMeta" (onLazyLoad)="lazyLoad($event)" [paginator]="paginator"
                [globalFilterFields]="globalFieldFilters" [rowsPerPageOptions]="rowsPerPageOptions"
                [showCurrentPageReport]="showCurrentPageReport" [lazy]="lazy"
                [currentPageReportTemplate]="'shared.table.currentPageReport' | translate" [rowHover]="true">
                <ng-template pTemplate="caption">
                    <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
                        <h5 class="m-0">{{ title | translate }}</h5>
                        @if(globalFieldFilters.length > 0){
                        <span class="block mt-2 md:mt-0 p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')"
                                [placeholder]="'shared.table.searchPlaceholder' | translate" class="w-full sm:w-auto" />
                        </span>
                        }
                    </div>
                </ng-template>
                <ng-template pTemplate="emptymessage">
                    <tr>
                        <td class="text-center" [colSpan]="headers.length">{{
                            'shared.table.emptyMessage' | translate}}</td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        @for(col of headers; track col){
                        @if(col.sortable){
                        <th [pSortableColumn]="col.field">{{ col.title | translate }} <p-sortIcon
                                [field]="col.field"></p-sortIcon></th>
                        }@else{
                        <th>{{ col.title | translate }}</th>
                        }
                        }
                    </tr>
                    <tr>
                        @for(col of headers; track col){
                        @if(col.filter && col.filter.type !== 'none'){
                        <th>
                            @switch (col.filter.type) {
                            @case("text"){
                            <p-columnFilter type="text" [field]="col.field" [showMenu]="col.filter.showMenu"
                                [matchMode]="col.filter.matchMode"
                                [placeholder]="(col.filter.placeholder ?? 'shared.table.searchPlaceholder' ) | translate"
                                [ariaLabel]="col.filter.ariaLabel | translate" />
                            }
                            @case("boolean") {
                            <p-columnFilter type="boolean" [field]="col.field" />
                            }
                            @case("dropdown"){
                            <p-columnFilter [field]="col.field" [matchMode]="col.filter.matchMode"
                                [showMenu]="col.filter.showMenu">
                                <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                                    <p-dropdown [ngModel]="col.filter.selectedValue" [options]="col.filter.values" appendTo="body"
                                        (onChange)="col.filter.selectedValue=$event.value;filter($event.value)"
                                        [placeholder]="(col.filter.placeholder ?? 'shared.table.dropdownPlaceholder' ) | translate"
                                        [showClear]="true">
                                    </p-dropdown>
                                </ng-template>
                            </p-columnFilter>
                            }
                            @case("multiselect"){
                                <!-- TODO: Da verificare -->
                            <p-columnFilter field="representative" matchMode="in" [showMenu]="false">
                                <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                                    <p-multiSelect [ngModel]="value" [options]="representatives" placeholder="Any"
                                        (onChange)="filter($event.value)" optionLabel="name">
                                        <ng-template let-option pTemplate="item">
                                            <div class="inline-block vertical-align-middle">
                                                <img [alt]="option.label"
                                                    src="https://primefaces.org/cdn/primeng/images/demo/avatar/{{ option.image }}"
                                                    width="24" class="vertical-align-middle" />
                                                <span class="ml-1 mt-1">{{ option.name }}</span>
                                            </div>
                                        </ng-template>
                                    </p-multiSelect>
                                </ng-template>
                            </p-columnFilter>
                            }
                            }
                        </th>
                        }@else{
                        <th></th>
                        }
                        }
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-rowData let-columns="columns" let-rowIndex="rowIndex">
                    <tr [pContextMenuRow]="rowData"
                        [ngClass]="{ 'bg-primary': (highlightRow && selectedItem?.id === rowData.id) }">
                        <ng-container
                            *ngTemplateOutlet=" tableBody; context: { $implicit: rowData, rowIndex, columns }"></ng-container>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>
</div>