<div table [headers]="headers" [values]="values" [globalFieldFilters]="globalFieldFilters" [totalRecords]="totalRecords"
    [menuItems]="menuItems" [selectedItem]="selectedItem" [highlightRow]="highlightRow" [showToolbar]="false"
    (onLazyLoad)="loadData($event)" (onContextMenuSelection)="updateSelectedItem($event)">
    <ng-template #tableBody let-rowData let-i="rowIndex">
        <td>{{rowData.createdAt | date: 'dd/MM/yyyy HH:mm:ss'}}</td>
        <td>{{rowData.machinery?.name}} ({{rowData.machinery?.serial}})</td>
        <td>{{rowData.type}}</td>
        <td>{{rowData.value}}</td>
        <td>{{rowData.description}}</td>
        <td><span class="pi pi-circle-fill" [class.text-green-500]="rowData.solved"
                [class.text-red-500]="!rowData.solved"></span></td>
    </ng-template>
</div>