<!DOCTYPE html>
<html lang="it">

<body>
    <h1 class="messages-title">SEND MESSAGES</h1>
    <br>
    <br>

    <div style="display: flex; justify-content: space-between;">

        <div class="container" style="border-radius: 10px; border: 2px solid gray; height: 40vh; width: 20vw; overflow-y: auto;">
            <br>
            <h2 class="title">WORKERS</h2>
            <br>
            <br>
            <ul style="list-style-type: none; padding-left: 0;">
                <li *ngFor="let worker of workers">
                    <div class="worker" style="display: flex; align-items: center;">
                        <input type="checkbox" [id]="worker.id" [checked]="worker.checked" (change)="toggleWorker(worker, $event)">
                        <label [for]="worker.id" style="margin-left: 0.5rem;">{{ worker.name }} {{ worker.surname }} [{{ worker.role }}]</label>
                    </div>
                </li>
            </ul>
        </div>

        <div class="container" style="border-radius: 10px; border: 2px solid gray; height: 40vh; width: 20vw; overflow-y: auto;">
            <br>
            <h2 class="title">RECIPIENTS</h2>
            <br>
            <br>
            <ul style="list-style-type: none; padding-left: 0;">
                <li *ngFor="let worker of checked_workers">
                    <div class="worker" style="display: flex; align-items: center;">
                        <label [for]="worker.id" style="margin-left: 0.5rem;">{{ worker.name }} {{ worker.surname }} [{{ worker.role }}]</label>
                    </div>
                </li>
            </ul>
        </div>

    </div>
    
    <br>
    <br>

    <div class="container" style="border-radius: 10px; border: 2px solid gray; height: 20vh; width: 60vw; overflow-y: auto; overflow-x: auto;">
        <br>
        
            <h2 class="title">MESSAGE</h2>

            <div style="display: flex; justify-content: space-between; align-items: center;">
                <select  style="width: 20vw; height: 4vh;" [(ngModel)]="messageText" name="message" id="message">
                    <option value="" disabled selected>Select a message</option>
                    <option value="Message A">Message A</option>
                    <option value="Message B">Message B</option>
                </select>

                <input style="width: 30vw; height: 4vh;" type="text" [(ngModel)]="messageText" value="{{ messageText }}">
            </div>

            <br>

            <div class="d-grid gap-2" style="display: flex; justify-content: center; align-items: center;">
                <button type="button" class="btn btn-primary" [disabled]="checked_workers?.length === 0 || messageText.trim() == '' " (click)="sendMessage(messageText, checked_workers)">SEND</button>
            </div>
    </div>

</body>

</html>
