.container {
    display: flex;
    flex-direction: column;
    align-items: left;
    width: 20%;
    height: 20%;
}

.messages-title {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}

.title {
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}

.worker {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.search-filters {
    display: flex;
    justify-content: center;
    gap: 1vw; /* Aggiungi questa riga */
}

.search-filters .form-control, 
.search-filters select, 
.search-filters button {
    width: 10vw; /* Larghezza fissa */
    height: 5vh; /* Altezza fissa */
}