<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <style>
    .navbar {
      background-color: #f8f9fa;
    }

    .navbar-brand {
      font-weight: bold;
      color: #007bff;
    }
  </style>
</head>
<body>

<nav class="navbar navbar-expand-md navbar-light bg-light justify-content-center">
  <a class="navbar-brand" [routerLink]="['/home']" [ngClass]="{'disabled': isHomePage()}">
    <img src="/assets/headphone.png" width="30" height="30" class="d-inline-block align-top" alt="Logo">
    SMART HEADPHONES FOR SAFETY
  </a>
</nav>

</body>
</html>


<router-outlet>

</router-outlet>