<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>


<body>
  <div id="navbar" class="navbar-light justify-content-between fixed-top">
    <img src="/assets/idalab_logo.png" class="d-inline-block align-top logo" alt="Logo">
    <div class="text-center mx-auto">
      <a class="navbar-brand">
        <h3 class="mx-3"><strong>DPI-U AI - BRIC48</strong></h3>
      </a>
    </div>
  </div>

  
  <div id="main">
    <router-outlet></router-outlet>
  </div>  

</body>

</html>
