.workers-title {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}