<div class="container">
    <div class="card" *ngFor="let room of rooms">
      <div class="card-header">
        Room Info
      </div>
      <div class="card-body">
        <h5 class="card-title">Room: {{ room?.id }}</h5>
        <p class="card-text"><strong>Name:</strong> {{ room?.name }}</p>
        <p class="card-text"><strong>Number of workers in this room:</strong> {{ room?.workers_count }}</p>
        <button class="btn btn-primary" (click)="goToMachineriesPage(room?.id)">Go to machineries</button>
      </div>
    </div>
</div>
