<div class="card-grid">
    <div class="card" *ngFor="let room of rooms_view" [ngStyle]="{'border': room.dangerousness == 'HIGH' ? '3px solid red' : ''}">
      <div class="card-header">
        Room Info
      </div>
      <div class="card-body">
        <h5 class="card-text"><strong>Name:</strong> {{ room?.name }}</h5>
        <br>
        <p class="card-title"><strong>Room ID:</strong> {{ room?.id }}</p>
        <button class="btn btn-primary" (click)="goToMachineriesPage(room?.id)">Go to machineries</button>
      </div>
    </div>
</div>
