<h1 class="machinery-title">Machineries List</h1>

<br>
<br>

<!-- Search Filters -->
<div class="search-filters container mt-5 mb-3">

    <input [(ngModel)] = "searchedMserial" name="searchedMserial"
    #inputMaserial = "ngModel"
    type="text" class="form-control" id="mserial" placeholder="Mserial"/>

    <input [(ngModel)] = "searchedName" name="searchedName"
    #inputName = "ngModel"
    type="text" class="form-control" id="name" placeholder="Name"/>

    <div class="mb-3">
        <select [(ngModel)]="searchedBranch" name="searchedBranch" #inputSearchedBranch="ngModel" class="form-control" id="searchedBranch" (change)="onBranchChange($event)">
            <option value="all branches" selected>All branches</option>
            <option *ngFor="let branch of branches" [value]="branch.id">{{branch.name}}</option>
        </select>
    </div>

    <div class="mb-3">
        <select [(ngModel)]="searchedRoom" name="searchedRoom" #inputSearchedRoom="ngModel" class="form-control" id="searchedRoom">
            <option value="all rooms" selected>All rooms</option>
            <option *ngFor="let room of rooms" [value]="room.id">{{room.name}}</option>
        </select>
    </div>
    

    <button class="btn btn-primary mx-1" (click)="search()">Search</button>
</div>

<div >
    <div class="container mt-5" style="border-radius: 10px; border: 1px solid gray; height: 50vh; width: 80vw; overflow-y: auto;">
        <table class="table table-striped">
        <thead>
            <tr>
            <th>Mserial</th>
            <th>Name</th>
            <th>Topic</th>
            <th>Branch</th>
            <th>Room</th>
            <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let machinery of machineries">
            <td>{{ machinery.mserial }}</td>
            <td>{{ machinery.name }}</td>
            <td>{{ machinery.topic }}</td>
            <td>{{ machinery.branchName }}</td>
            <td>{{ machinery.roomName }}</td>
            <td>
                <button class="btn btn-primary mx-1" (click)="editMachinery(machinery.mserial)">Edit</button>
                <button class="btn btn-primary mx-1" (click)="deleteMachinery(machinery.mserial)">Delete</button></td>
            </tr>
        </tbody>
        </table>
    </div>

    <br>
    <br>

    <div style="text-align: center;">
        <div class="button-wrapper">
          <button class="btn btn-primary mx-1" (click)="goToNewMachineryPage()">Add Machinery</button>
        </div>
    </div>

</div>