<div class="layout-topbar">
    <button #menubutton class="p-link layout-menu-button layout-topbar-button" (click)="layoutService.onMenuToggle()">
        <i class="pi pi-bars"></i>
    </button>

    <a class="layout-topbar-logo" routerLink="">
        <img src="assets/layout/images/idalab-logo.png" alt="logo">
        <img src="assets/layout/images/logo-project.png" alt="Sakai logo">
    </a>

    <button #topbarmenubutton class="p-link layout-topbar-menu-button layout-topbar-button"
        (click)="layoutService.showProfileSidebar()">
        <i class="pi pi-ellipsis-v" pBadge [value]="notifications?.length ?? 0"></i>
    </button>

    <div #topbarmenu class="layout-topbar-menu"
        [ngClass]="{'layout-topbar-menu-mobile-active': layoutService.state.profileSidebarVisible}">
        <button class="p-link layout-topbar-button" (click)="sidebarVisible = true" pBadge
            [value]="notifications?.length ?? 0">
            <i class="pi pi-bell"></i>
            <span class="label"> {{ 'layout.topbar.actions.notification' | translate }} </span>
        </button>
        <button class="p-link layout-topbar-button" [routerLink]="'/app/profile'">
            <i class="pi pi-user"></i>
            <span class="label"> {{ 'layout.topbar.actions.profile' | translate }} </span>
        </button>
        <button class="p-link layout-topbar-button" (click)="logout()">
            <i class="pi pi-sign-out"></i>
            <span class="label"> {{ 'layout.topbar.actions.logout' | translate }} </span>
        </button>
    </div>
</div>

<p-sidebar [(visible)]="sidebarVisible" position="right" styleClass="w-30rem">
    <h3>{{ 'layout.topbar.actions.notification' | translate }}</h3>
    @for(n of notifications; track n){
    <p-messages>
        <ng-template pTemplate>
            <div class="card mb-0 grid w-full shadow-2" (click)="machineryId = n.machinery.id; showDetail = true">
                <div class="col-2 flex align-items-start justify-content-center p-0">
                    @switch (n.type) {
                    @case ('alarm') {
                    <img src="/assets/imgs/red_square_error_warning_icon.svg" class="w-3rem" />
                    }
                    @case ('maintenance') {
                    <img src="/assets/imgs/ISO_7010_M002.svg.png" class="w-3rem" />
                    }
                    @case ('service') {
                    <img src="/assets/imgs/ISO_7010_W001.svg.png" class="w-3rem" />
                    }
                    }
                </div>
                <div class="col-10 flex flex-column">
                    <h5 class="m-0 text-bold"> {{ n.machinery.name }} ({{ n.machinery.serial }})</h5>
                    <h6 class="my-1 text-lg">{{ 'layout.topbar.sidebar.alarm.timestamp' | translate }} {{
                        n.createdAt | date: 'dd/MM/yyyy HH:mm' }}
                    </h6>
                    <h6 class="my-1 text-lg">{{ 'layout.topbar.sidebar.alarm.type' | translate }} {{ n.type }}
                    </h6>
                    <h6 class="my-1 text-lg">{{ 'layout.topbar.sidebar.alarm.value' | translate }} {{ n.value }}
                    </h6>
                    @if(n.description){
                    <h6 class="my-1 text-lg">{{ 'layout.topbar.sidebar.alarm.description' | translate }} {{ n.description }}
                    </h6>
                    }
                    <span>{{ n.description }}</span>
                </div>
            </div>
        </ng-template>
    </p-messages>
    }
</p-sidebar>

<div notification-dialog [show]="showDetail" (showChange)="machineryId=undefined; showDetail=$event"
    [machineryId]="machineryId"></div>