<body>
    <div class="container">
        <h1 class="workers-title">New Worker</h1>

        <br>
        <br>

        <div class="container">
            <div class="row justify-content-center mt-3">
                <div class="col-md-8">
                    <div class="card">
                        <div class="card-body">
                            <form #newWorkerForm="ngForm" (ngSubmit)="onSubmit(newWorkerForm)">

                                <div class="mb-3">
                                    <label for="rollNumber" class="form-label"><strong>Roll Number</strong></label>
                                    <input
                                    [(ngModel)] = "worker.rollNumber" name="rollNumber"
                                    required
                                    #inputRollNumber = "ngModel"
                                    type="text" class="form-control" id="rollNumber" placeholder="Enter roll number">
                                </div>

                                <div class="mb-3">
                                    <label for="name" class="form-label"><strong>Name</strong></label>
                                    <input
                                    [(ngModel)] = "worker.name" name="name"
                                    required
                                    #inputName = "ngModel"
                                    type="text" class="form-control" id="name" placeholder="Enter name">
                                </div>

                                <div class="mb-3">
                                    <label for="surname" class="form-label"><strong>Surname</strong></label>
                                    <input
                                    [(ngModel)] = "worker.surname" name="surname"
                                    required
                                    #inputSurname = "ngModel"
                                    type="text" class="form-control" id="surname" placeholder="Enter surname">
                                </div>

                                <div class="mb-3">
                                    <label for="email" class="form-label"><strong>Email</strong></label>
                                    <input
                                    [(ngModel)] = "worker.email" name="email"
                                    required
                                    #inputEmail = "ngModel"
                                    type="text" class="form-control" id="email" placeholder="Enter email">
                                </div>

                                <div class="mb-3">
                                    <label for="phoneNumber" class="form-label"><strong>Phone Number</strong></label>
                                    <input
                                    [(ngModel)] = "worker.phoneNumber" name="phoneNumber"
                                    required
                                    #inputPhoneNumber = "ngModel"
                                    type="text" class="form-control" id="phoneNumber" placeholder="Enter Phone Number">
                                </div>
                                
                                <div class="mb-3">
                                    <label for="headphones" class="form-label"><strong>Headphones Serial</strong></label>
                                    <select [(ngModel)]="worker.idHeadphones" name="idHeadphones" required #inputIdHeadphones="ngModel" class="form-control" id="idHeadphones">
                                        <option *ngFor="let headphones of headphonesArray" [value]="headphones.serial">{{headphones.serial}}</option>
                                    </select>
                                </div>

                                <div class="mb-3">
                                    <label for="role" class="form-label"><strong>Role</strong></label>
                                    <select [(ngModel)]="worker.role" name="role" required #inputRole="ngModel" class="form-control" id="role">
                                        <option value="Worker">Worker</option>
                                        <option value="Security Manager">Security Manager</option>
                                    </select>
                                </div>
                                

                                <div class="d-grid gap-2">
                                    <button
                                    [disabled] = "!newWorkerForm.valid || btnDisabled"
                                    type="submit" class="btn btn-primary">Add</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/js/bootstrap.bundle.min.js"></script>

</body>