<div table [headers]="headers" [values]="values" [globalFieldFilters]="globalFieldFilters" [totalRecords]="totalRecords"
    [menuItems]="menuItems" [selectedItem]="selectedItem" [highlightRow]="highlightRow" (onNew)="handleNew()"
    (onLazyLoad)="loadData($event)" (onContextMenuSelection)="updateSelectedItem($event)">
    <ng-template #tableBody let-rowData let-i="rowIndex">
        <td>{{rowData.name}}</td>
        <td>{{rowData.description}}</td>
        <td>{{rowData.structure?.name ?? ''}}</td>
    </ng-template>
</div>

<div delete-dialog [(show)]="showDelete" (onConfirm)="handleDelete()">
    <span>{{ 'shared.modal.delete.baseMessage' | translate }} <b>{{selectedItem?.structure.name}} /
            {{selectedItem?.name}}</b>?</span>
</div>

<div detail-dialog [(show)]="showDetail" [editMode]="selectedItem !== null" [disableConfirm]="fg.invalid"
    (onConfirm)="handleSave()">
    <form [formGroup]="fg">
        <div class="field p-fluid">
            <label htmlFor="name">{{ 'pages.area.modal.name' | translate }}</label>
            <input pInputText formControlName="name" id="name" type="text"
                [class.ng-invalid]="fg.controls['name'].invalid" [class.ng-dirty]="fg.controls['name'].invalid" />
            @if(fg.controls['name'].errors?.['required']){
            <small class="text-red-600">
                {{ 'shared.validators.required' | translate }}
            </small>
            }
        </div>
        <div class="field p-fluid">
            <label htmlFor="structureId">{{ 'pages.area.modal.structure' | translate }}</label>
            <p-dropdown id="structureId" [options]="structures" [showClear]="true" appendTo="body" formControlName="structureId"
                optionValue="id" optionLabel="name" [class.ng-invalid]="fg.controls['structureId'].invalid"
                [class.ng-dirty]="fg.controls['structureId'].invalid">
            </p-dropdown>
            @if(fg.controls['structureId'].errors?.['required']){
            <small class="text-red-600">
                {{ 'shared.validators.required' | translate }}
            </small>
            }
        </div>
        <div class="field p-fluid">
            <label htmlFor="description">{{ 'pages.area.modal.description' | translate }}</label>
            <textarea rows="5" cols="30" formControlName="description" id="description" pInputTextarea></textarea>
        </div>
    </form>
</div>