<body>
    <div class="container">
        <h1 class="account-title">Edit Account</h1>

        <br>
        <br>

        <div class="container">
            <div class="row justify-content-center mt-3">
                <div class="col-md-8">
                    <div class="card">
                        <div class="card-body">
                            <form #newAccountForm="ngForm" (ngSubmit)="onSubmit(newAccountForm)">

                                <div class="mb-3">
                                    <label for="Name" class="form-label"><strong>Name</strong></label>
                                    <input
                                    [(ngModel)]="admin.name" name="name" 
                                    required 
                                    #inputName="ngModel" 
                                    type="text" class="form-control" id="name" placeholder="Enter name">
                                </div>

                                <div class="mb-3">
                                    <label for="Surname" class="form-label"><strong>Surname</strong></label>
                                    <input
                                    [(ngModel)]="admin.surname" name="surname" 
                                    required 
                                    #inputSurname="ngModel" 
                                    type="text" class="form-control" id="surname" placeholder="Enter surname">
                                </div>

                                <div class="mb-3">
                                    <label for="Email" class="form-label"><strong>Email</strong></label>
                                    <input
                                    [(ngModel)]="admin.email" name="email" 
                                    required 
                                    #inputEmail="ngModel" 
                                    type="text" class="form-control" id="email" placeholder="Enter email">
                                </div>


                                <div class="mb-3">
                                    <label for="PhoneNumber" class="form-label"><strong>Phone number</strong></label>
                                    <input
                                    [(ngModel)]="admin.phoneNumber" name="phoneNumber" 
                                    required 
                                    #inputPhoneNumber="ngModel" 
                                    type="text" class="form-control" id="phoneNumber" placeholder="Enter phone number">
                                </div>

                                
                                <div class="d-grid gap-2">
                                    <button
                                    [disabled] = "!newAccountForm.valid || btnDisabled"
                                    type="submit" class="btn btn-primary">Edit</button>
                                </div>
                                
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/js/bootstrap.bundle.min.js"></script>

</body>
