<h1 class="headphones-title">Headphones List</h1>

<br>
<br>

<div >
    <div class="container mt-5" style="border-radius: 10px; border: 1px solid gray; height: 50vh; width: 80vw; overflow-y: auto;">
        <table class="table table-striped">
        <thead>
            <tr>
            <th>Serial</th>
            <th>Associated to a worker</th>
            <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let headphones of headphonesArray">
            <td>{{ headphones.serial }}</td>
            <td>{{ headphones.isAssociated }}</td>
            <td><button class="btn btn-primary mx-1">Edit</button>
                <button class="btn btn-primary mx-1" (click)="deleteHeadphones(headphones.serial)">Delete</button></td>
            </tr>
        </tbody>
        </table>
    </div>

    <br>
    <br>

    <div style="text-align: center;">
        <div class="button-wrapper">
          <button class="btn btn-primary mx-1" (click)="goToNewHeadphonesPage()">New Headphones</button>
        </div>
    </div>

</div>