<body>
    <div class="container">
        <h1 class="sensors-title">Edit Sensor</h1>

        <br>
        <br>

        <div class="container">
            <div class="row justify-content-center mt-3">
                <div class="col-md-8">
                    <div class="card">
                        <div class="card-body">
                            <form #newSensorForm="ngForm" (ngSubmit)="onSubmit(newSensorForm)">

                                <div class="mb-3">
                                    <label for="mac" class="form-label"><strong>MAC</strong></label>
                                    <input
                                    [(ngModel)]="sensor.mac" name="mac" 
                                    required
                                    disabled 
                                    #inputMac="ngModel" 
                                    type="text" class="form-control" id="mac" placeholder="Enter MAC">
                                </div>

                                
                                <div class="mb-3">
                                    <label for="machinery" class="form-label"><strong>Machinery Mserial</strong></label>
                                    <select [(ngModel)]="sensor.mserial" name="mserial" required #inputMserial="ngModel" class="form-control" id="mserial">
                                        <option value="">No machinery associated</option>
                                        <option *ngFor="let machinery of machineries" [value]="machinery.mserial">{{machinery.mserial}}</option>
                                    </select>
                                </div>

                                

                                <div class="d-grid gap-2">
                                    <button
                                    [disabled] = "!newSensorForm.valid || btnDisabled"
                                    type="submit" class="btn btn-primary">Edit</button>
                                </div>
                                
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/js/bootstrap.bundle.min.js"></script>

</body>