<div table [headers]="headers" [values]="values" [globalFieldFilters]="globalFieldFilters" [totalRecords]="totalRecords"
    [menuItems]="menuItems" [selectedItem]="selectedItem" [highlightRow]="highlightRow" (onNew)="handleNew()"
    (onLazyLoad)="loadData($event)" (onContextMenuSelection)="updateSelectedItem($event)">
    <ng-template #tableBody let-rowData let-i="rowIndex">
        <td>{{rowData.title}}</td>
        <td>{{rowData.code}}</td>
        <td>{{getTranslations(rowData)}}</td>
    </ng-template>
</div>

<div delete-dialog [(show)]="showDelete" (onConfirm)="handleDelete()">
    <span>{{ 'shared.modal.delete.baseMessage' | translate }} <b>{{selectedItem?.title}}</b>?</span>
</div>

<div detail-dialog [(show)]="showDetail" [editMode]="selectedItem !== null" [disableConfirm]="fg.invalid"
    (onConfirm)="handleSave()">
    <form [formGroup]="fg">
        <div class="field p-fluid">
            <label htmlFor="title">{{ 'pages.notificationCode.modal.title' | translate }}</label>
            <input pInputText formControlName="title" id="title" type="text"
                [class.ng-invalid]="fg.controls['title'].invalid" [class.ng-dirty]="fg.controls['title'].invalid" />
            @if(fg.controls['title'].errors?.['required']){
            <small class="text-red-600">
                {{ 'shared.validators.required' | translate }}
            </small>
            }
        </div>

        <div class="field p-fluid">
            <label htmlFor="code">{{ 'pages.notificationCode.modal.code' | translate }}</label>
            <input pInputText formControlName="code" id="code" type="text"
                [class.ng-invalid]="fg.controls['code'].invalid" [class.ng-dirty]="fg.controls['code'].invalid" />
            @if(fg.controls['code'].errors?.['required']){
            <small class="text-red-600">
                {{ 'shared.validators.required' | translate }}
            </small>
            }
        </div>

        <div class="field p-fluid">
            <p-toolbar styleClass="mb-4">
                <ng-template pTemplate="left">
                </ng-template>
                <ng-template pTemplate="right">
                    <button pButton pRipple icon="pi pi-plus-circle" iconPos="right" class="p-button-primary"
                        [label]="'pages.notificationCode.modal.addTranslation' | translate"
                        (click)="openTranslationDialog()"></button>
                </ng-template>
            </p-toolbar>
            <p-table [value]="translations" responsiveLayout="scroll" [paginator]="true"
                [rowsPerPageOptions]="[5, 10, 20]" [rows]="5"
                [currentPageReportTemplate]="'shared.table.currentPageReport' | translate">
                <ng-template pTemplate="caption">
                    <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
                        <h5 class="m-0">{{ 'pages.notificationCode.modal.translations' | translate }}</h5>
                        @if(fg.controls['translations'].errors?.['required']){
                        <small class="text-red-600">
                            {{ 'shared.validators.required' | translate }}
                        </small>
                        }
                    </div>
                </ng-template>
                <ng-template pTemplate="emptymessage">
                    <tr>
                        <td class="text-center" [colSpan]="3">{{'shared.table.emptyMessage' | translate}}</td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th>{{ 'pages.notificationCode.modal.subModal.language' | translate }}</th>
                        <th>{{ 'pages.notificationCode.modal.subModal.isDefault' | translate }}</th>
                        <th>{{ 'pages.notificationCode.modal.subModal.message' | translate }}</th>
                        <th></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-rowData let-columns="columns" let-rowIndex="rowIndex">
                    <tr>
                        <td>{{getLanguage(rowData.language) | translate}}</td>
                        <td><span class="pi" [class.pi-check]="rowData.isDefault" [class.pi-times]="!rowData.isDefault"></span></td>
                        <td>{{rowData.message}}</td>
                        <td>
                            <p-button icon="pi pi-times" severity="danger" (click)="removeItem(rowData.language)" />
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>

        <p-dialog [header]="'pages.notificationCode.modal.addTranslation' | translate" [modal]="true"
            [(visible)]="visible" class="p-fluid" appendTo="body">
            <ng-template pTemplate="content">
                <form [formGroup]="fgTranslation">
                    <div class="field p-fluid">
                        <label htmlFor="language">{{ 'pages.notificationCode.modal.subModal.language' | translate
                            }}</label>
                        <p-dropdown id="language" [options]="languages" [showClear]="true" appendTo="body"
                            optionValue="id" formControlName="language"
                            [class.ng-invalid]="fgTranslation.controls['language'].invalid"
                            [class.ng-dirty]="fgTranslation.controls['language'].invalid">
                            <ng-template let-selectedItem pTemplate="selectedItem">
                                <div>{{ selectedItem ? (selectedItem.label | translate) : '' }}</div>
                            </ng-template>
                            <ng-template let-item pTemplate="item">
                                <div>{{ item.label | translate }}</div>
                            </ng-template>
                        </p-dropdown>
                        @if(fgTranslation.controls['language'].errors?.['required']){
                        <small class="text-red-600">
                            {{ 'shared.validators.required' | translate }}
                        </small>
                        }
                    </div>
                    <div class="flex flex-column gap-2">
                        <label htmlFor="isDefault">{{ 'pages.notificationCode.modal.subModal.isDefault' | translate}}</label>
                        <p-inputSwitch formControlName="isDefault" />
                    </div>
                    <div class="field p-fluid">
                        <label htmlFor="message">{{ 'pages.notificationCode.modal.subModal.message' | translate }}</label>
                        <textarea rows="5" cols="30" formControlName="message" id="message" pInputTextarea
                            [class.ng-invalid]="fgTranslation.controls['message'].invalid"
                            [class.ng-dirty]="fgTranslation.controls['message'].invalid"></textarea>
                        @if(fgTranslation.controls['message'].errors?.['required']){
                        <small class="text-red-600">
                            {{ 'shared.validators.required' | translate }}
                        </small>
                        }
                    </div>
                </form>
            </ng-template>
            <ng-template pTemplate="footer">
                <button pButton pRipple icon="pi pi-times" class="p-button-text"
                    [label]="'shared.modal.actions.close' | translate" (click)="visible = false"></button>
                <button pButton pRipple icon="pi pi-check" class="p-button-success" [disabled]="fgTranslation.invalid"
                    [label]="'shared.modal.actions.save' | translate" (click)="addTranslation()"></button>
            </ng-template>
        </p-dialog>
    </form>
</div>