<div class="grid">
    @for(machine of machineries; track machine){
    <div class="col-12 xl:col-6">
        <div class="card mb-0 grid" (click)="openDetailModal(machine)">
            <div class="col-10 flex flex-column">
                <span class="block text-500 font-medium mb-3">{{machine.area.structure.name}} /
                    {{machine.area.name}}</span>
                <div class="text-900 font-medium text-xl flex align-items-center justify-content-between gap-2">
                    {{ machine.name }} ({{machine.serial}})
                </div>
                @if (notificationService.existsLastMode(notifications, machine.id)) {
                <div class="text-medium mt-2">{{ 'pages.dashboard.lastState' | translate:
                    {'mode': 'pages.dashboard.status.' + notificationService.getLastMode(notifications, machine.id) | translate, 'timestamp':
                    notificationService.getLastModeTimestamp(notifications, machine.id) | date: 'dd/MM/yyyy HH:mm'} }}</div>
                }@else{
                <div class="text-medium mt-2">{{ 'pages.dashboard.lastStateNoAvailable' | translate }}</div>
                }
                <div class="text-900 font-bold text-xl mt-2 flex align-items-center gap-2 mt-4">
                    <img src="/assets/imgs/red_square_error_warning_icon.svg" class="w-2rem" />
                    {{ notificationService.getNotificationsCount(notifications, machine.id, 'alarm')}}
                    {{'pages.dashboard.alarmToManage' | translate}}
                </div>
                <div class="text-900 font-bold text-xl mt-2 flex align-items-center gap-2">
                    <img src="/assets/imgs/ISO_7010_M002.svg.png" class="w-2rem" />
                    {{ notificationService.getNotificationsCount(notifications, machine.id, 'maintenance')}}
                    {{'pages.dashboard.maintenanceToManage' | translate}}
                </div>
                <div class="text-900 font-bold text-xl mt-2 flex align-items-center gap-2">
                    <img src="/assets/imgs/ISO_7010_W001.svg.png" class="w-2rem" />
                    {{ notificationService.getNotificationsCount(notifications, machine.id, 'service')}} {{'pages.dashboard.serviceToManage' | translate}}
                </div>
            </div>
            <div class="col-2 flex flex-column align-items-center justify-content-around gap-2">
                <div class="flex flex-column justify-content-center align-items-center gap-2">
                    {{ 'pages.dashboard.machineryState' | translate }}
                    <img [src]="notificationService.getNotificationsCount(notifications, machine.id) === 0 ? '/assets/imgs/led-green-black.svg' : '/assets/imgs/led-red-black.svg'"
                    class="w-3rem" />
                </div>
                <div class="flex flex-column justify-content-center align-items-center gap-2">
                    {{ 'pages.dashboard.doorState' | translate }}
                    @if(notificationService.existsGuards(notifications, machine.id, 'door_g')) {
                        <img [src]="notificationService.lastGuard(notifications, machine.id, 'door_g') === '1' ? '/assets/imgs/led-green-black.svg' : '/assets/imgs/led-red-black.svg'" class="w-3rem" />
                    }@else {
                        <img src="/assets/imgs/generic.svg" class="w-3rem" />
                    }
                </div>
                <div class="flex flex-column justify-content-center align-items-center gap-2">
                    {{ 'pages.dashboard.spindleState' | translate }}
                    @if(notificationService.existsGuards(notifications, machine.id, 'spnd_g')) {
                        <img [src]="notificationService.lastGuard(notifications, machine.id, 'spnd_g') === '1' ? '/assets/imgs/led-green-black.svg' : '/assets/imgs/led-red-black.svg'" class="w-3rem" />
                    }@else {
                        <img src="/assets/imgs/generic.svg" class="w-3rem" />
                    }
                </div>
            </div>
        </div>
    </div>
    }
</div>

<div notification-dialog [show]="showDetail" (showChange)="machineryId=undefined; showDetail=$event"
    [machineryId]="machineryId"></div>